/*-------------------Start of styling identical to master.css----------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
}

.container {
  margin: auto;
  max-width: 1280px;
}

main {
  margin: 0em 3em;
}

/* Start of typography sizes */

h1 {
  font-family: 'work sans', sans-serif;
  font-size: 4em;
  font-weight: 500;
  font-kerning: auto;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
  color: #333333;
}

h2 {
  font-family: 'work sans', sans-serif;
  font-size: 2.8125em;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
}

h3 {
  font-family: 'spectral', serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h4 {
  \font-family: 'spectral', serif;
  font-size: 1.4375em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}


h5 {
  font-family: 'work sans', sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}

p {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

/* End of typography sizes */
.divlink {
  display: flex;
  justify-content: center;
}
.sitelink {
  margin: 3em 0em;
  color: #333333;
  font-size: 1.25em;
  font-family: 'work sans', sans-serif;
  text-decoration: none;
  line-height: 1.5em;
  border-bottom: 1px solid #C5C5C5;
}

.sitelink:hover {
  border-bottom: 1px solid #DA9218;
}

.worklink {
  display: inline-block;
  margin: 1.5em 0em;
  color: #333333;
  font-size: 1em;
  font-family: 'work sans', sans-serif;
  text-decoration: none;
  line-height: 1.5em;
  border-bottom: 1px solid #C5C5C5;
}

.worklink:hover {
  border-bottom: 1px solid #DA9218;
}

/*-------------------End of styling identical to master.css----------------------------*/





/*------- Start of hero content styling -------*/
.hero-content {
  margin-top: 3em;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cs-logo {
  margin: auto;
  background: url(../assets/csNimbusDash/1x/NimbusLogo60.png) no-repeat center / contain;
  height: 60px;
  width: 300px;
  margin-top: 3em;
}
.hero-headline h4 {
  padding-top: 0.5em;
  text-align: center;
  color: #5E5E5E;
}
.hero-image {
  display: block;
  width: 65%;
}
/*------- End of hero content styling -------*/


/*------- Start of nav styling -------*/
nav {
  border-bottom: 1px solid #C5C5C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5em;
}



/*----Start of Sticky Navbar class-----*/
.sticky {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  padding: 0 4.5em;   /*Match 'main' margin*/
}
/*----End of Sticky Navbar class-----*/



.nav-home, .nav-nextcs {
  font-family: 'work sans', sans-serif;
  font-size: 0.85em;
  text-decoration: none;
  color: #919191;
  width: 20%;
}

.nav-nextcs {
  text-align: right;
}

.nav-cs {
  /* border: 1px solid red; */
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}


.nav-cs a {
  font-family: 'work sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #333333;

}

/*------- End of nav styling -------*/



/*------- Start of casestudy styling -------*/


.cs-info {
  margin-top: 6em;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cs-info-roles,
.cs-info-deliverables,
.cs-info-specs {
  width: 30%;
  padding-left: 0.5em;
  border-top: 1px solid #C5C5C5;
  /* border-right: 1px solid #C5C5C5;; */
}

.cs-info h5 {
  color: #5E5E5E;
  line-height: 2em;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.cs-info li {
  font-family: 'spectral', serif;
  font-size: 0.95em;
  line-height: 1.5em;
  /* font-family: 'fira mono', monospace;
  font-size: 1em;
  line-height: 2em; */
}

.casestudy {
  margin-bottom: 9em;
}

.section-title {
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

.page-separator {
  margin: auto;
  width: 5em;
  height: 1px;
  background-color: #DA9218;
  margin-top: 2em;  /*Controls distance to section-title*/
  margin-bottom: 6em;
}

.casestudy h3.
.casestudy h4 {
  padding-top: 2em;
}

.casestudy p {
  margin-bottom: 2em;
}

.casestudy h3,
.casestudy h4,
.casestudy p,
.casestudy .worklink {
  max-width: 60%;
  margin-left: 20%;
}

.img-fullwidth {
  width: 100%;
  display: block;
  margin: 4em 0em;
}

.img-dashdiagram {
  width: 100%;
  display: block;
  margin: 4em 0em;
}

.img-contain4 {
  padding-left: 1.5%;
  margin: 4em 0em;
}

.img-incontain4 {
  margin: auto;
  width: 49%;
  display: inline;  /*adjust to 'block' for vertical layout*/
}

.img-contain2 {
  display: flex;
  flex-direction: row;    /*adjust to 'column' for vertical layout*/
  justify-content: center;
  align-items: center;
  margin: 4em 0em;
}

.img-incontain2 {
  margin: auto;
  width: 49%;
  display: inline;
}

.img-contain1 {
  display: flex;
  flex-direction: row;    /*adjust to 'column' for vertical layout*/
  justify-content: center;
  align-items: center;
  margin: 4em 0em;
}

.img-incontain1 {
  width: 60%;
}




/*------- End of casestudy styling -------*/

/* ------Start of Footer Styling------ */

.footer-container {
  background-color: #F4F4F4;
}

footer {
  /* border: 1px solid black; */
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 4em;
}

.footer-separator {
  margin: auto;
  width: 16em;
  height: 1px;
  background-color: #DA9218;
  margin-top: 0.75em;  /*Controls distance to section-title*/
}

.email {
  padding-top: 1em;
  margin-bottom: 0.5em;
}

.contactlinks {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  border-bottom: 1px solid #DA9218;
}

.contact-link a {
  color: #777777;
  font-family: 'work sans', sans-serif;
  font-size: 0.85em;
  font-weight:500;
  text-decoration: none;
  padding-bottom: 0.25em;
}

.contact-link a:hover {
  color: #333333;
}

.credit {
  text-align: center;
  color: #333333;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 3em;
}
/* ------End of Footer Styling------ */



/* blackzone */
@media only screen and (min-width: 1280px) {

  /* .container {
  border: 1px solid black;
  } */

  .diagramNarrow,
  .diagramMobileNarrow {
    display: none;
  }

}


/* bluezone */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

  /* .container {
  border: 1px solid blue;
  } */

  .diagramNarrow,
  .diagramMobileNarrow {
    display: none;
  }

}

/* redzone */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  /* .container {
  border: 1px solid red;
  } */

  main {
    margin: 0em 3em;
  }
  .sticky {
    padding: 0 3em;  /*Match 'main' margin*/
  }
  .hero-content {
    margin-top: 3em;
  }
  .hero-image {
    width: 80%;
    margin-top: 0.25em;
  }
  .cs-logo {
    background: url(../assets/csNimbusDash/1x/NimbusLogo48.png) no-repeat center / contain;
    height: 48px;
    width: 300px;
  }
  .hero-headline {
    width: 80%;
  }
  .casestudy h3,
  .casestudy h4,
  .casestudy p,
  .casestudy .worklink {
    max-width: 70%;
    margin-left: 15%;
  }
  .diagramWide,
  .diagramMobileWide {
    display: none;
  }
  .img-contain2 {
    flex-direction: column;    /*adjust to 'column' for vertical layout*/
    margin: 4em 0em;
  }
  .img-incontain2 {
    width: 70%;
  }
}

/* greenzone */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* .container {
  border: 1px solid green;
  } */

  main {
    margin: 0em 1.5em;
  }
  .sticky {
    padding: 0em 1.5em;   /*Match 'main' margin*/
  }
  .hero-content {
    margin-top: 1.5em;
  }
  .cs-logo {
    background: url(../assets/csNimbusDash/1x/NimbusLogo36.png) no-repeat center / contain;
    height: 36px;
    width: 300px;
    margin-top: 2em;
  }
  .hero-headline {
    width: 60%;
  }
  .hero-image {
    width: 95%;
    margin-top: 1em;
  }
  nav {
    height: 3em;
  }
  .nav-cs {
    display: none;
  }
  .nav-home, .nav-nextcs {
    width: 50%;
    font-size: 0.75em;
  }
  .cs-info {
    margin-top: 3em;
    margin-left: 0em;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .cs-info-roles,
  .cs-info-deliverables,
  .cs-info-specs {
    border-top: none;
    border-left: 1px solid #C5C5C5;
    padding-left: 0.25em;
    margin-bottom: 1em;
  }
  .page-separator {
    margin-bottom: 4em;

  }
  .casestudy h3,
  .casestudy h4,
  .casestudy p,
  .casestudy .worklink {
    max-width: 90%;   /*Controls margins*/
    margin-left: 5%;
  }
  .casestudy h2 {
    font-size: 2em;
  }
  .diagramWide,
  .diagramMobileWide {
    display: none;
  }
  .img-incontain4 {
    margin: auto;
    width: 90%;
    display: block;
  }
  .img-contain2 {
    flex-direction: column;    /*adjust to 'column' for vertical layout*/
    margin: 4em 0em;
  }
  .img-incontain2 {
    width: 90%;
  }
  .img-incontain1 {
    width: 90%;
  }
}

/* purplezone */
@media only screen and (min-width: 280px) and (max-width: 479px) {

  /* .container {
  border: 1px solid purple;
  } */

  main {
    margin: 0em 1em;
  }
  .sticky {
    padding: 0em 1em;  /*Match 'main' margin*/
  }
  .hero-content {
    margin-top: 1em;
  }
  .cs-logo {
    background: url(../assets/csNimbusDash/1x/NimbusLogo36.png) no-repeat center / contain;
    height: 36px;
    width: 300px;
    margin-top: 2em;
  }
  .hero-headline h4 {
    font-family: 'spectral', serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
  }
  .hero-headline {
    width: 80%;
  }
  .hero-image {
    width: 100%;
    margin-top: 1em;
  }
  nav {
    height: 3em;
  }
  .nav-cs {
    display: none;
  }
  .nav-home, .nav-nextcs {
    width: 50%;
    font-size: 0.75em;
  }
  .cs-info {
    margin: auto;
    margin-top: 3em;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
  }
  .cs-info-roles,
  .cs-info-deliverables,
  .cs-info-specs {
    width: 100%;
    margin-bottom: 1em;
  }
  .page-separator {
    margin-bottom: 4em;

  }
  .casestudy h3,
  .casestudy h4,
  .casestudy p,
  .casestudy .worklink {
    max-width: 90%;   /*Controls margins*/
    margin-left: 5%;
  }
  .casestudy h3 {
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .casestudy h4 {
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .casestudy h2 {
    font-size: 2em;
  }
  .diagramWide,
  .diagramMobileWide {
    display: none;
  }
  .img-incontain4 {
    margin: auto;
    width: 100%;
    display: block;
  }
  .img-contain2 {
    flex-direction: column;    /*adjust to 'column' for vertical layout*/
    margin: 4em 0em;
  }
  .img-incontain2 {
    width: 80%;
  }
  .img-incontain1 {
    width: 80%;
  }
}
